<!-- vi: set ft=html: -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/index.css"/>
    <link rel="shortcut icon" href="assets/favicon.png" type="image/png" />
  </head>
  <body>
    <header>
      <div>
        <h1>{{title}}</h1>
      </div>
    </header>
    <main>
      <article>
        {{content | safe}}
      </article>
    </main>
    <script type="module" src="/_dist_/index.js"></script>
  </body>
</html>
